# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma / sqlite
*.db
*.db-journal
apps/api/prisma/dev.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
coverage/
